.space{
    animation:  1.1s  appearFromUp; /*animation when the page is loaded; makes it appear like the form is coming down*/
    box-sizing: border-box;
    margin: 0;
    font-family: 'Georgia';
    padding: 10px;
}

.space.space_container{
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 10px;
    margin: -20px 0 50px;
    background-color: lightseagreen;
}

.container{
    max-width: 700px;
    width:100%;
    border-radius: 25px;
    background: white;
    border-radius: 50px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); /*creates illusion for the form */
    position: relative;
    overflow: hidden;
    min-height: 480px;
}

.space h2{
    font-weight: bold;
    margin: 0;
}

/* style of the main form box*/
.space.space_container.row form {
    background: white;
    display:flex;
    flex-direction: column;
    padding: 0 50px;
    border: 0px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

/*style of the paragraph after "new to our website?"*/
.space_container span{
    font-size:12px;
    justify-content: center;
    align-content: center;
}

.space.space_container a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

/*style of the input fields for username and password*/
.row input{
    background: lightgrey;
    border: none;
    padding: 12px 20px;
    margin: 8px 0px;
    border-radius: 50px;
    width: 100%;
}

.row label{
    padding-bottom: 0;
}

/*style of the log in button on the form*/
.space input[type=submit]{
    border: none;
    border-radius: 50px;
    border-radius:20px;
    background: lightseagreen;
    color: white;
    padding: 12px 0px;
    margin: 8px 0px;
    width:70%;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 20px 50px;
}

/*style of the 'create an account' button on the form*/
button#signUpButton {
    border: none;
    border-radius: 50px;
    border-radius: 20px;
    background: lightseagreen;
    color: white;
    padding: 10px 0px;
    margin: 20px 50px;
    width: 70%;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/*animation on 'create an account button' when clicked*/
.space button:active{
    transform: scale(0.95);
}

/*animation on 'login button' when mouse hovers*/
.space input[type=button]:hover{
    background-color: white;
    border: 2px solid lightseagreen;
    color: lightseagreen;
}

.formBox{
    position:absolute;
    padding-top: 15%;
    transition: all 0.6s ease-in-out;
}

/*positioning of the 'new to our website' section*/
.formBox.signUpBox {
    right:0;
    width:50%;
    z-index: 1;
}

.signUpBox a{
    color: white;
    text-decoration: none;
}
/*positioning of the 'my account log inn' section*/
.formBox.logInBox{
    left:0;
    z-index: 1;
    width:50%;
}

.formBox.logInBox a{
   color: lightseagreen;
}

/*initially hidden part when on full screen width*/
.space p{
    display: none;
}

.signUpForm form{
    background-color: lightseagreen;
    color: white;
    z-index: 3;
    position: absolute;
    right:0;
    width:50%;
    /*animation of the form is specified here; how fast and where its from*/
    transform: translateY(-110%);
    transition: transform 0.5s ease-in-out;
}

.signUpForm h2{
    padding-bottom: 10px;
}

.signUpForm input[type=text], .space input[type=email], {
    background: white;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 8px 0px;
    border-radius: 50px;
    width: 100%;
}

.space input[type=submit]:hover{
    background-color: white;
    border: 2px solid lightseagreen;
    color: lightseagreen;
}

.container.signUpForm-active .signUpForm form {
    height:100%;
    transform: translateY(0);

}

button#createAccountButton.createAccountButton{
    background: none;
    border: none;
    padding: 0;
    color: lightseagreen;
    text-decoration: none;
    cursor: pointer;
}

/*changes when screen is reduced*/
@media (max-width: 700px){

    .signUpBox{
        display: none;
    }

    .formBox.logInBox{
        justify-content: center;
        padding-top: 8%;
        left:25%;
        right:25%;
    }

    .row form{
        padding: 0px 0px;
    }

    .space p{
        display: inline-block;
        z-index: 1;
    }

}
@keyframes appearFromUp {
    0% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(0);
    }
}
