.space{
    animation:  1.1s  appearFromUp; /* animation when page loads; form appears to be coming down*/
    box-sizing: border-box;
    margin: 0;
    font-family: 'Georgia';
    padding: 10px;
}

.space.space_container{
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 10px;
    margin: -20px 0 50px;
    background-color: white;
}

.container{
    max-width: 700px;
    width:100%;
    background: lightseagreen;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 25px 30px;
    border-radius: 25px;
    color: white;
}


.space h2{
    text-decoration: underline;
    position: relative;
    font-weight: bold;
    margin: 0;
    padding-bottom: 25px;
}

form{
    padding: 0 50px;
}

/* positioning and arrangement of the user input fields*/
.space_container form .user{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*ensures that each input field is same width and spaced apart*/
form .user .input{
    width: calc(50% - 20px);
}

.space input{
    width: 100%;
    background: #f3f3f3;
    border: none;
    padding: 12px 20px;
    margin: 8px 0px;
    border-radius: 50px;
}

.space input[type=submit]{
    border-radius: 50px;
    border-radius:20px;
    border: 2px solid white;
    background-color: lightseagreen;
    color: white;
    padding: 12px 0px;
    margin: 8px 0px;
    width:80%;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.space input[type=submit]:hover{
    background-color: white;
    border: 2px solid lightseagreen;
    color: lightseagreen;

}

/*centers the terms and conditions, register button and log in link*/
.space h5,.space .tc input,.space a{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.space a{
    color: black;
}

/*changes when screen is reduced*/
@media (max-width: 700px){
    .space_container{
        max-width: 700px;
    }

    form .user .input{
        margin-bottom:15px;
        width:calc(50% - 20px);
        width: 100%;
    }

    /*form becomes scrollable as screen width is reduced*/
    .space_container form .user{
        max-height: 300px;
        overflow-y: scroll;
        padding: 10px;
    }

}

@keyframes appearFromUp {
    0% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(0);
    }
}
