
/* Global */

*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: normal;
    box-sizing: border-box;
}

body{
    width:100vw;
    height:100vh;
    background-color: #A9A9A9;

}
hr{
    border: 1px solid rgba(236, 240, 241, 0.3);
}

.container{
    width:960px;
    margin: 0 auto;

}
/* Header Section */
header{
    height: 220px;
    background-color: #33383b;
}

header .logo{
    width: 500px;
  
}

header .logo a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

header .logo img{
    margin-right: 10px;
    margin-top: 10px;
}

header .logo p.logo-content1{
    font-size:40px;
    color:white;
    font-weight: bold;
    margin-top:30px;
}

header .logo span.logo-content2{
    font-size:30px;
    color: lightseagreen;
    font-weight: bold;
    margin-top:10px;
}
/* header .logo p.logo-content2{
    font-size:20px;
    color: lightseagreen;
    font-weight: bold;
    margin-top:10px;
} */

header .webName{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .menu-nav{
    display:flex;
    justify-content: space-between; 
    margin-top:30px;
}

header .menu ul{
    width:200px;
    display: flex;
    list-style: none;
}

header .menu ul li a{
    text-decoration: none;
    padding: 5px;    
    text-transform: uppercase;
    margin-bottom: 2px;
    border-bottom: 1px solid transparent;
    color:#FFFFFF;
    font-weight: bold;
   
}

header .menu ul li a:hover{
    border-bottom: 5px solid #A9A9A9;
}

header .searchBar{
    width:300px;
   
}

header .form-group{
    position:relative;
}

header .form-group input{
    position: absolute;
    width:100%;
    height: 35px;
    right: 10px;
    border:0;
    border-radius: 50px;
    padding:5px 5px;
    outline:0;
}

header .form-group .search-icon{

    position: absolute;
    right: 15px;
    top:8px;
    cursor: pointer;
}
 /*Main section  */
main{
    
    background-color:#FFFFFF;
    padding: 30px;
    margin-top: -40px;
    margin-bottom: -40px;
    box-shadow: 0 0 2px #808080;
    position: relative;
    z-index: 100;
}

main .small-nav{
    background-color: #33383b;
    padding: 10px 0;
    margin-bottom: 25px;
}

main .small-nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;  
}

main .small-nav ul li{
    padding: 0 10px;
    color:#FFFFFF;
}

main .small-nav ul li a{
    color:#FFFFFF;
    text-decoration: none;
}


main hr{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Account Section */
main .account-page{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
main .account-page .profile{
    width: 30%;
}

main .account-page .account-detail{
    width: 60%;
}

main .account-page .account-detail input[type="submit"]{
    color:#FFFFFF;
    background-color: #33383b;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding:5px 8px;
    margin-top: 20px;
    display: block;
    border: none;
    cursor: pointer;
}

main .account-page .account-detail input[type="submit"]:hover{
    color: black;
    background-color: #A9A9A9;
}
main .account-page .profile .profile-detail{
    width: 160px;
    height: 160px;
    margin:0 auto;
    margin-bottom: 60px;
    text-align: center;
    overflow: none;
}

main .account-page .profile .profile-detail img{
    width: 100%;
    height: 150px;
    border: 1px solid #eee;
    border-radius: 50%;
    box-shadow: 0px 0px 8px #888888;
    object-fit: cover;
}
main .account-page .profile .profile-detail h2{
    color:black;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

main .account-page .profile ul{
    list-style:none;
    padding: 10px;

}

main .account-page .profile ul li{
    margin-bottom: 5px;
}
main .account-page .profile ul li a{
    color: #A9A9A9;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid rgba(236,240,241,0.3);
    text-align: right;
    padding: 5px 8px;
    display: block;
}
main .account-page .profile ul li a span{
    float:left;
}

.active,main .account-page .profile ul li a:hover{
    color: #FFFFFF !important;
    background-color: #33383b;

}


main .account-page .form-inline{
    display: flex;
    justify-content: space-between;
}


main .account-page .customer-detail h4{
    color:#FFFFFF;
    background-color: #33383b;
    text-transform: uppercase;
    padding: 5px;
    margin-bottom: 20px;
    display: block;
}
main .account-page .customer-form .form-group{
 margin:10px 5px;
 width:calc(100% - 10px);
}

main .account-page .customer-form label{
    display: block;
    color:#A9A9A9;
    margin-bottom: 6px;    
}

main .account-page .customer-form input,
main .account-page .customer-form select,
main .account-page .customer-form textarea{
    width: 100%;
    padding: 8px 5px;

}

main .account-page .customer-form input:focus,
main .account-page .customer-form select:focus,
main .account-page .customer-form textarea:focus{
    outline:1px solid #A9A9A9;

}

/* Footer Section */
footer{
    background-color: #33383b;
    height: 300px;
}

footer .footer-content{
    padding-top:70px ;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    

}
footer .footer-content .footer-details{
    height: 150px;
    width: 300px;
    padding: 10px;
    color: #FFFFFF;
   background-color:  #A9A9A9;
    

}

footer .footer-content .footer-details h3{
    font-size: 14px;
    text-transform: uppercase;
    color:#FFFFFF;
    letter-spacing: 1px;
    margin-bottom: 8px;
    border-bottom: 1px solid #FFFFFF;
}
footer .footer-content .footer-details ul{
    list-style: none;
    margin-left: 10px;
}

footer .footer-content .footer-details ul li{
    padding: 5px;
}

footer .footer-content .footer-details ul li a{
    color: #FFFFFF;
    text-decoration: none;
}

footer .footer-content .footer-details ul li a:hover{
    color: #A9A9A9;
    text-decoration: underline;
}

footer .footer-content .footer-details .follow ul{
    list-style: none;
    margin-bottom: 10px;
    margin-left: 10px;
}

footer .footer-content .footer-details .follow ul li{
    display: inline-block;
}